* {
    margin: 0;
    padding: 0;
    font-family: 'serif', 'sans-serif';
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(rgba(96, 96, 121, 0.5), rgba(113, 113, 142, 0.5)), url(../Images/paul-vhZe9fd9MRs-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

nav{
    background-color: whitesmoke;
    font-size: 20px;
    width: 100%;
    height: 8%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

nav li{
    display: inline;
    margin: 0 8px;
}

nav a{
    text-decoration: none;
    font-weight: bolder;
}

.logo{
    font-size: 25px;
    font-weight: bolder;
}

#form{
    width: 400px;
    background-color: rgba(127, 169, 210, 0.594);
    border-radius: 5px;
    padding: 30px;
}

h1{
    text-align: center;
    color: black;
    margin-bottom: 30px;
}

.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid black ;
}

#form button{
    background-color: rgb(137, 156, 212);
    color: #000;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
}